@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */

  /* Font size 18px */
  --text-base: 1.125rem;
  --font-sans: var(--font-bai-jamjuree);

  /* Primary colors */
  --color-green-500: hsl(171, 66%, 44%);
  --color-blue-500: hsl(233, 100%, 69%);

  /* Neutral colors */
  --color-gray-700: hsl(210, 10%, 33%);
  --color-gray-500: hsl(201, 11%, 66%);
}

* {
  /* @apply outline-1 outline-blue-500; */
}

body {
  background: var(--color-white);
  color: var(--color-gray-700);
  font-size: var(--text-base);
  font-family: var(--font-bai-jamjuree), Arial, Helvetica, sans-serif;
}

.btn {
  @apply text-white text-xl font-semibold px-8 py-4;
  @apply rounded-full border-b-4 shadow-[0px_5px_25px_5px];
  @apply motion-safe:duration-150 ease-in-out;
}

.btn--green {
  @apply bg-green-500 hover:bg-green-500/60 border-green-700 shadow-green-500/30;
}

.btn--purple {
  @apply bg-blue-500 hover:bg-blue-500/60 border-blue-700 shadow-blue-700/30;
}

.supercharge__article {
  @apply flex flex-col justify-center items-center gap-8;

  img {
    @apply h-12 w-auto;
  }

  h3 {
    @apply text-3xl font-semibold mt-4 lg:mt-8;
  }

  p {
    @apply text-gray-500;
  }
}

.footerLinks {
  a {
    @apply px-2 py-1 font-semibold text-gray-700/70 hover:text-green-500 motion-safe:duration-150 ease-in-out;
  }
}
