@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Font size 18px */
  --text-base: 1.125rem;

  /* Primary colors */
  --color-green-500: hsl(171, 66%, 44%);
  --color-blue-100: hsl(233, 100%, 69%);

  /* Neutral colors */
  --color-gray-700: hsl(210, 10%, 33%);
  --color-gray-500: hsl(201, 11%, 66%);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
